server:
  port: 8082

spring:
  application:
    name: order-service

  # Database Configuration
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/delivery_mesh}
    username: ${SPRING_DATASOURCE_USERNAME:teetotaler_admin}
    password: ${SPRING_DATASOURCE_PASSWORD:clean_code_only}
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  # Kafka Configuration
  kafka:
    bootstrap-servers: ${KAFKA_SERVERS:localhost:9092}
    producer:
      # Key is usually a String (OrderNumber)
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      # Value is our OrderEvent Object, converted to JSON
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        # Ensures the JSON includes type information for the consumer
        spring.json.add.type.headers: true

# Logging for debugging Kafka events
logging:
  level:
    org.springframework.kafka: INFO

# Swagger/OpenAPI Configuration
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true